$content-font-size: 17.5px;

$snow-white: #fff;
$vacasa-orange: #e49e01;

$map-background: #cbebfa;

$map-path-stroke-color: #b0d2df;
$map-path-stroke-width: .5;

$text-fill-color: #a2b7b8;
$separate-text-fill-color: #538d9c;

$a-path-fill-color: #538d9c;
$a-path-stroke-color: #c2e8fb;

$map-transition-time: .2s;


.map-locations {
  background: $map-locations-background;
  padding: 0 2em 4em;
  width: 100vw;

  a {
    &:hover {
      background-color: $snow-white;
      color: $vacasa-orange;
    }

    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
    }
  }

  > div:first-child {
    max-width: 975px;
    width: 100%;
  }

  header {
    text-align: center;

    h2 {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 0;
    }

    p {
      font-size: $content-font-size;
    }
  }

  nav {
    margin-top: 2em;

    ul {
      display: flex;
      justify-content: center;

      list-style: none;
      margin: 0;
      padding: 0;
      
      li + li{
        margin-left: .25em;
      }

      a {
        display: block;
        font-size: 1.25em;
        padding: .75em 1em;

        &.active {
          background-color: $snow-white;
          color: $vacasa-orange;
        }
      }
    }
  }

}



.location-map {
  border: solid 1em $snow-white;
  position: relative;
  width: 100%;

  a:hover path {
    fill: $vacasa-orange;
  }

  svg {
    width: 100%;

    display: block;
    background: $map-background;
    //position: absolute;
    //top: 0;
    //left: 0;
  }

  path {
    fill: $snow-white;
    stroke: $map-path-stroke-color;
    stroke-opacity: 1;
    stroke-width: $map-path-stroke-width;
    transition: $map-transition-time fill, $map-transition-time stroke;
  }

  a path {
    fill: $a-path-fill-color;
    stroke: $a-path-stroke-color;
  }

  text, tspan {
    cursor: default;
    fill: $text-fill-color;
    font-size: 14px;
    font-weight: bolder;
    transition: $map-transition-time fill;
  }

  a text, a tspan {
    cursor: pointer;
    fill: $snow-white;
  }

  a text.separate, a tspan.separate {
    fill: $separate-text-fill-color;
  }
}
